//colors to be used trough out rest of program, background colors, rollovers as well
$yellow: #FFFF00;
$green: #51B848;
$red: #DD2222;
$blue: #426FB6;
$black: #1a1a1a;
$white: #fff;

$maincolor: $yellow;
