@fa-font-path: "Flight-Site/font";
//header
$header_height: 65px;
$h1_header_padding: 10px;
$h1_header_top_padding: 15px;
$h1_header_right: 10px;
$logo_header_padding: 10px;

//nav
$ul_height: 70px;
$li_width: 100px;

//img
$img_shrink: 50%;
$img_margin: 0px;
$img_margin_bottom: 5px;
$img_min_size: 30px;
$img_max_size: 50px;

//form
$form_margin: 15px;
$input_margin: 5px;
$input_height: 400px;
$button_top_margin: 0;
$form_min_width: 220;

//layout
$callout_width_MIN: 250;
$callout_width_MAX: 250;

//dimesions
$mobile_width_MAX: 370;
$mobile_width_MIN: 345;
