
//header
$header_height: 65px;
$logo_header_padding: 10px;

//nav
$ul_height: 80px;
$ul_height_landscape: 60px;

//img
$img_shrink: 65%;
$img_margin: 0;
$img_margin_bottom: 5;
$img_min_size: 30;
$img_max_size: 70;

//form
$form_margin: 15px;
$form_height: 218px;
$form_height_landscape: 215px;
$input_margin: 5px;
$input_height: 400px;
$input_width: 100%;
$button_top_margin: 0;
$form_min_width: 265;

//layout
$callout_width_MIN: 250;
$callout_width_MAX: 250;

//dimesions
$mobile_width_MAX: 350;
$mobile_width_MIN: 345;
