header {
  @extend %no_margin;
  @include background_color($maincolor);
    height: $header_height;
  h1 {
    @extend %text_right;
    @extend %no_margin;
      padding: $h1_header_padding;
      padding-top: $h1_header_top_padding;
      padding-right: $h1_header_right;
  }

   .main-logo,.logo {
    @extend %left;
      padding: $logo_header_padding;
  }

}
