//imports for all mixins + global project variables

body,
html {
    height: 100%;
}

body {

    @include media_query(modular,$min_width:$tablet) {
      @include background_img(city);
    }
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    @include sticky_footer(true);
    @include media_query(height,$height:780px) {
         @include sticky_footer(true,85);
    }
}

.page-wrap:after {
    @extend %content_clear;
    @extend %block;
    @include sticky_footer(true);
    @include media_query(height,$height:780px) {
         @include sticky_footer(true,85);
    }
}

section[role="main"]:after {
    @include background_color($white);
}

#discount {
    @extend %margin_center;
    @include width_maxNmin($mobile_width_MAX,$mobile_width_MIN);
    @include media_query(mobile) {
        margin: 0 auto;
    }
    @include media_query(min-mobile) {
        margin: 0 auto;
    }
    @include media_query(tablet) {
         @include margin_system($left:14);
    }
    @include media_query(desktop) {
         @include margin_system($left:10);
    }

    p.callout {
        @extend %inline_block;
        @extend %center;
        @extend %overflow_hidden;
        @extend %resize_none;
        @include margin_system(10,$top:12,$N_S:10);
        @include width_maxNmin(100%);
          height: 3.5em;
        @include media_query(min-mobile) {
             @include width_maxNmin(100%,$callout_width_MIN);
        }
        @include media_query(mobile) {
             @include width_maxNmin(100%,$callout_width_MIN);
        }
        @include media_query(tablet) {
             @include width_maxNmin(100%,$callout_width_MIN);
        }
        @include media_query(desktop) {
             @include width_maxNmin(100%,$callout_width_MIN);
        }
    }

    .discount_button {
        @extend %center;
    }

    .discount_p {
        @extend %inline_block;
        @include margin_system($left:82%,$bottom:5);
        @include width_maxNmin(100%);
          z-index: 10000000;
          width: 50px;
        @include media_query(modular,$min_width:$min_mobile) {
             @include margin_system($left:10);
            float: right;

            p{
              @include margin_system($top:5);
            }

        }
    }

    button:before {
        @extend %no_display;
        @extend %left;
        @include margin_system(5,$bottom:10,$left:10,$top:10);
        @include fontAwesome_icon("\f155");
        @include media_query(modular,$min_width:$mobile) {
            display: inline;
        }
    }

    button {
        @extend %block;
        @extend %no_outline;
        @extend %clear_button_defaults;
        @include border_system(solid,$black,5);
        @include margin_system(5);
        @include background_color($maincolor);
          width:100%;
          @include media_query(modular,$min_width:$min-mobile) {
               @include width_maxNmin(100%,$callout_width_MIN);
               width:320px;
          }

        p {
            @extend %right;
            @include padding_system(14);
            @include media_query(min-mobile) {
                text-align: right;
            }
        }
    }
}
