//imports for all mixins + global project variables
html {
  @include sticky_footer(html);
}
.wrapper {
  @include margin_system(10);
}

body{
  @include sticky_footer(body);
}

#discount {


    button:before{
      content: "\f155";
      font-family: 'FontAwesome';
      font-size: 50px;
      float:left;
      margin:10px;
      top: 0; left: 0
      }
  @extend %margin_center;
  @include width_maxNmin($mobile_width_MAX,$mobile_width_MIN);
  @include media_query(mobile){
    margin: 0 auto;
  }
  p.callout {
    @extend %full_width;
    @include margin_system(compass,$N_S:15);
      margin-bottom: 10px;
  }
  .discount_button {
    @extend %center;
    @extend %full_width;
  }

  button {
    @extend %no_outline;
    @extend %full_width;
    @include border_system(solid,black,6);
    @include background_color($maincolor);
    @include margin_system(compass,$N_S:5,$bottom:10);
      p {
        float:right;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
    }
  }
}
