//results page
.results {

.usd{
@extend %text_left;
@include margin_system(5);
}

  .third, .full{
    background-color: $maincolor;
    @include margin_system(2);
    @include padding_system($left:0,$right:0);
    @extend %center;

    ul{
      width:100%;
      li.black{
        @include margin_system($top:5,$bottom:5);
        @include padding_system(7);
        background-color: black;
        p {
          width: 100%;
          color: white;
        }
      }

      .black:nth-child(2n+2):before {
        content: "\f07e";
        font-family: 'FontAwesome';
        font-size: 1em !important;
        margin-left: -58px;
        margin-top: 4px;
        height: 46px;
        width: 50px;
        color: $white;

      }
    }
  }
  .block {
    background-color: darken($maincolor,50%);
    @include padding_system(2);

    .full {
      .left {
        @extend %left;
        @include margin_system(5,$left:10);
      }
      button {
        @extend %no_outline;
        @extend %right;
        @extend .full;
        @include border_system(solid,$black,5);
        @include width_maxNmin(80);
        @include easy_dropShadow(3px,3px,0px,$black);
        @include background_color($white);
        @include padding_system($N_S:5,$E_W:5);

        &:visited {
            @include background_color($black);
            color: $white;
        }

        &:active {
            @include background_color($black);
            @include easy_dropShadow(0px,0px,0px,$black);
            color: $white;
        }
      }
    }
  }
}
