//place where all of my fonts and font familys get turned into simple varibles

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic);

$default_font: 'Lora', serif;

@mixin text($size, $l_height: 1, $color: black, $family: null){

    font-size: $size + 0em;
    line-height: $l_height;
    color: $color;

    @if $family {

      @if $family == font_a {
        font-family:'Open Sans', sans-serif;
        font-weight: 400;
      }

      @else if $family == font_a_Bold {
        font-family:'Open Sans', sans-serif;
        font-weight: 800;
      }

      @else if $family == font_a_slim {
        font-family:'Open Sans', sans-serif;
        font-weight: 100;
      }

      @else if $family == font_a_em {
        font-family:'Open Sans', sans-serif;
        font-weight: 100;
        font-style: italic;
      }

      @else if $family == font_b {
        font-family:'Lora', serif;

      }

      @else if $family == font_b_italic {
        font-family:'Lora', serif;
    }
  }
}
