@mixin row() {
  font-size: 0 !important;
}

@mixin col($col, $sum, $gap: .9%, $align: top, $padding: 8px) {
  width: percentage($col/$sum) - ($gap);
  padding: $padding;
  font-size: 14px;
  display: inline-block;
  vertical-align: $align;
  @include margin_system($top:.9%,$bottom:.9%);
  margin-right: $gap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
}

.row{
  @include row();
}

.full{
  @include col(1,1);
}

.half{
  @include col(1,2);
}

.third{
  @include col(1,3);
}

.fourth{
  @include col(1,4);
}

.fith{
  @include col(1,5);
}
