@mixin media_query($screen_type, $min_mobile:350px, $mobile:480px, $tablet:768px, $desktop:1200px, $landscape:360px) {

@if $screen_type == "min-mobile" {
  @media (min-width: #{$min_mobile}){
    @content;
  }
} @else if $screen_type == "mobile" {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet}){
        @content;
      }
    } @else if $screen_type == "tablet" {
      @media (min-width: #{$tablet}) and (max-width: #{$desktop}){
          @content;
        }
      } @else if $screen_type == "landscape" {
        @media (orientation: landscape){
            @content;
          }
        } @else if $screen_type == "desktop" {
          @media (min-width: #{$desktop}) and (orientation: portrait) {
            @content;
          }
        } @else {
          @debug "The varible screen-type equals #{$screen-type} when it should either equal mobile, tablet or desktop";
        }

  }

  @mixin width_maxNmin($max:null,$min:null){

      @if is_percentage($max){
        max-width: $max;
        min-width: $min;
      } @else if $max{
          max-width: $max * $pixels;
      } @else if $min {
          min-width: $min * $pixels;
  }
}
