//this mixin works to make sure the footer stays at the bottom of the page
//it effects the body, footer and html elements

@mixin margin_system($all_side: null, $top: null, $left: null, $bottom: null, $right: null, $N_S: null, $E_W: null) {

  @if $all_side {
    @if is-percentage($all_side){
      margin: #{$all_side};
    } @else {
       margin: $all_side * $pixels;
     }
  }

  @if $top {
    @if is-percentage($top){
      margin-top: $top;
    } @else {
      margin-top: $top * $pixels;
    }
  }

  @if $left {
    @if is-percentage($left){
      margin-left: $left;
    } @else {
      margin-left: $left * $pixels;
    }
  }

  @if $bottom {
    @if is-percentage($bottom){
      margin-bottom: $bottom;
    } @else {
      margin-bottom: $bottom * $pixels;
    }
  }

  @if $right {
    @if is-percentage($right){
      margin-right: $right;
    } @else {
      margin-right: $right * $pixels;
    }
  }

  @if $N_S {
    @if is-percentage($N_S) {
      margin-top: $N_S;
      margin-bottom: $N_S;
    } @else {
      margin-top: $N_S * $pixels;
      margin-bottom: $N_S * $pixels;
    }
  }

  @if $E_W {
    @if is-percentage($E_W) {
      margin-left: $E_W;
      margin-right: $E_W;
    } @else {
      margin-left: $E_W * $pixels;
      margin-right: $E_W * $pixels;
    }
  }
}

@mixin padding_system($all_side: null, $top: null, $left: null, $bottom: null, $right: null, $N_S: null, $E_W: null) {

  @if $all_side {
    @if is-percentage($all_side){
      padding: #{$all_side};
    } @else {
      padding: #{$all_side * $pixels};
    }
  }

  @if $top {
    @if is-percentage($top){
      padding-top: $top;
    } @else {
      padding-top: $top * $pixels;
    }
  }

  @if $left {
    @if is-percentage($left){
      padding-left: $left;
    } @else {
      padding-left: $left * $pixels;
    }
  }

  @if $bottom {
    @if is-percentage($bottom){
      padding-bottom: $bottom;
    } @else {
      padding-bottom: $bottom * $pixels;
    }
  }

  @if $right {
    @if is-percentage($right){
      padding-right: $right;
    } @else {
      padding-right: $right * $pixels;
    }
  }
}


@mixin easy_dropShadow($N,$W,$blur,$color) {

  -webkit-box-shadow: $N $W $blur $color;
  -moz-box-shadow: $N $W $blur $color;
  -o-box-shadow: $N $W $blur $color;

}

@mixin border_system($style,$color,$width,$N:null,$E:null,$S:null,$W:null){

  $border: $style $color $width * $pixels;

  @if $N == true or $E == true or $S == true or $W == true {
        @if $N {
        border-top: $border;
      } @if $E {
        border-right: $border;
      } @if $S {
        border-bottom: $border;
      } @if $W {
        border-left: $border;
    }
  } @else {
    border:$border
  }
}

@mixin background_color($maincolor) {
  -webkit-background-color: $maincolor ;
  -moz-background-color: $maincolor ;
  -ms-background-color: $maincolor ;
   background-color: $maincolor ;
}
