//this mixin works to make sure the footer stays at the bottom of the page
//it effects the body, footer and html elements

@mixin margin_system($all_side: null, $top: null, $left: null, $bottom: null, $right: null, $N_S: null, $E_W: null) {

$margin: "margin:";

  @if $all_side {
    @if is-percentage($all_side){
       margin: $all_side;
     } @else if is-automatic($all_side){
       margin: auto;
     } @else {
       margin: make-pixel($all_side);
     }
  }

  @if $top {
    @if is-percentage($top){
      margin-top: $top;
    } @else if is-automatic($top){
      margin-top: auto;
    } @else {
      margin-top: make-pixel($top);
    }
  }

  @if $left {
    @if is-percentage($left){
      margin-left: $left;
    } @else if is-automatic($left){
      margin-left: auto;
    } @else {
      margin-left: make-pixel($left);
    }
  }

  @if $bottom {
    @if is-percentage($bottom){
      margin-bottom: $bottom;
    } @else if is-automatic($bottom){
      margin-bottom: auto;
    } @else {
      margin-bottom: make-pixel($bottom);
    }
  }

  @if $right {
    @if is-percentage($right){
      margin-right: $right;
    } @else if is-automatic($right){
      margin-right: auto;
    } @else {
      margin-right: make-pixel($right);
    }
  }

  @if $N_S {
    @if is-percentage($N_S) {
      margin-top: $N_S;
      margin-bottom: $N_S;
    } @else if is-automatic($N_S){
      margin-top: auto;
      margin-bottom: auto;
    } @else {
      margin-top: make-pixel($N_S);
      margin-bottom: make-pixel($N_S);
    }
  }

  @if $E_W {
    @if is-percentage($E_W) {
      margin-left: $E_W;
      margin-right: $E_W;
    } @else if is-automatic($E_W){
      margin-left: auto;
      margin-right: auto;
    } @else {
      margin-left: make-pixel($E_W);
      margin-right: make-pixel($E_W);
    }
  }
}

@mixin padding_system($all_side: null, $top: null, $left: null, $bottom: null, $right: null, $N_S: null, $E_W: null) {

  @if $all_side {
    @if is-percentage($all_side){
       padding: $all_side;
     } @else if is-automatic($all_side){
       padding: auto;
     } @else {
       padding: make-pixel($all_side);
     }
  }

  @if $top {
    @if is-percentage($top){
      padding-top: $top;
    } @else if is-automatic($top){
      padding-top: auto;
    } @else {
      padding-right: make-pixel($top);
    }
  }

  @if $left {
    @if is-percentage($left){
      padding-left: $left;
    } @else if is-automatic($left){
      padding-left: auto;
    } @else {
      padding-left: make-pixel($left);
    }
  }

  @if $bottom {
    @if is-percentage($bottom){
      padding-bottom: $bottom;
    } @else if is-automatic($bottom){
      padding-bottom: auto;
    } @else {
      padding-right: make-pixel($bottom);
    }
  }

  @if $right {
    @if is-percentage($right){
      padding-right: $right;
    } @else if is-automatic($right){
      padding-right: auto;
    } @else {
      padding-right: make-pixel($right);
    }
  }

  @if $N_S {
    @if is-percentage($N_S) {
      padding-top: $N_S;
      padding-bottom: $N_S;
    } @else if is-automatic($N_S){
      padding-top: auto;
      padding-bottom: auto;
    } @else {
      padding-top: make-pixel($N_S);
      padding-bottom: make-pixel($N_S);
    }
  }

  @if $E_W {
    @if is-percentage($E_W) {
      padding-left: $E_W;
      padding-right: $E_W;
    } @else if is-automatic($E_W){
      padding-left: auto;
      padding-right: auto;
    } @else {
      padding-left: make-pixel($E_W);
      padding-right: make-pixel($E_W);
    }
  }
}


@mixin easy_dropShadow($N,$W,$blur,$color) {

  -webkit-box-shadow: $N $W $blur $color;
  -moz-box-shadow: $N $W $blur $color;
  -o-box-shadow: $N $W $blur $color;

}

@mixin border_system($style,$color,$width,$N:null,$E:null,$S:null,$W:null){

  $border: $style $color $width * $pixels;

  @if $N == true or $E == true or $S == true or $W == true {
        @if $N {
        border-top: $border;
      } @if $E {
        border-right: $border;
      } @if $S {
        border-bottom: $border;
      } @if $W {
        border-left: $border;
    }
  } @else {
    border:$border
  }
}

@mixin background_color($maincolor) {
  -webkit-background-color: $maincolor ;
  -moz-background-color: $maincolor ;
  -ms-background-color: $maincolor ;
   background-color: $maincolor ;
}
