//clearing
%no_outline {
  outline: 0;
}
%bye_bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
//makes my buttons clear, in other words gets rid of default styleing of button
%clear_button_defaults {
  border: none;
  outline: none;
}

%content_clear {
  content: "";
}

//hideing things but keeping them there for accessibility purposes
%hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

%border_box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
