//everything flex box
%flex,
.flex {
  display: flex;
  min-width: 0;
}
%flex_flow,
.flex_flow {
  flex-flow: row wrap;
}
%flex_reverse,
.flex_reverse {
  flex-direction: row-reverse;
}
%flex_stack,
.flex_stack {
  flex-direction: column; //works similar to display block
}
%flex_wrap,
.flex_wrap  {
  flex-wrap: wrap; //for responsive displays wraps to the next line
}
%flex_center,
.flex_center {
  justify-content: center;
}
%flex_vertical_center,
.flex_vertical_center {
  align-items: center;
}
%flex_space_between,
.flex_space_between {
  justify-content: space-between;
}
%flex_start,
.flex_start {
  justify-content: flex-start;
}
%flex_end,
.flex_end {
  justify-content: flex-end;
}
