//floats
%left {
  float: left;
}
%right {
  float: right;
}
%clear_fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
%clear_left {
  clear: left;
}
%clear_right {
  clear: right;
}
