//overflow types
%overflow_visible {
  overflow:visible;
}
%overflow_hidden {
  overflow:hidden;
}
%overflow_scroll {
  overflow:scroll;
}
%overflow_auto {
  overflow:auto;
}
%overflow_initial {
  overflow:initial;
}
%overflow_inherit {
  overflow:inherit;
}
