/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic);
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Tip:
* The em and rem units are practical in creating perfectly scalable layout!
* Viewport = the browser window size. If the viewport is 50cm wide, 1vw = 0.5cm.
*/
/* more then likely you wont be useing theses they arent responsive at all
* Pixels (px) are relative to the viewing device.
* For low-dpi devices, 1px is one device pixel (dot) of the display.
* For printers and high resolution screens 1px implies multiple device pixels.
*/
/* line 5, ../sass/modules/_placeHolders.scss */
footer h1 {
  display: none;
}

/* line 9, ../sass/modules/_placeHolders.scss */
form table tr label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* line 26, ../sass/modules/_placeHolders.scss */
ul li, .callout, footer div.wrapper h1 {
  text-align: center;
}

/* line 32, ../sass/modules/_placeHolders.scss */
header h1 {
  text-align: right;
}

/* line 35, ../sass/modules/_placeHolders.scss */
#discount button {
  margin: 0 auto;
}

/* line 38, ../sass/modules/_placeHolders.scss */
ul, header, header h1 {
  margin: 0;
}

/* line 41, ../sass/modules/_placeHolders.scss */
ul li button, ul li button button:target, #discount p.callout, #discount button {
  width: 100%;
}

/* line 46, ../sass/modules/_placeHolders.scss */
form table tr label, form .checkbox-wrapper, header .main-logo, header .logo {
  float: left;
}

/* line 49, ../sass/modules/_placeHolders.scss */
form button {
  float: right;
}

/* line 53, ../sass/modules/_placeHolders.scss */
form:after, form .checkbox-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 67, ../sass/modules/_placeHolders.scss */
ul, ul li, footer {
  display: flex;
}

/* line 79, ../sass/modules/_placeHolders.scss */
ul li {
  justify-content: center;
}

/* line 85, ../sass/modules/_placeHolders.scss */
ul {
  justify-content: space-between;
}

/* line 90, ../sass/modules/_placeHolders.scss */
form table tr input[type="text"], form table tr input[type="number"], form table tr select, form button {
  border: solid #1a1a1a 5px;
}

/* line 93, ../sass/modules/_placeHolders.scss */
form table tr input[type="text"], form table tr input[type="number"], form button, #discount button {
  outline: 0;
}

/* line 96, ../sass/modules/_placeHolders.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 101, ../sass/modules/_placeHolders.scss */
ul li button {
  border: none;
  outline: none;
}

/* line 1, ../sass/elements/_forms.scss */
form {
  padding: 5px;
  padding: 10px;
  -webkit-background-color: #FFFF00;
  -moz-background-color: #FFFF00;
  -ms-background-color: #FFFF00;
  background-color: #FFFF00;
  max-width: 260px;
}
/* line 7, ../sass/elements/_forms.scss */
form h1 {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}
/* line 13, ../sass/elements/_forms.scss */
form table tr {
  margin: 0px;
}
/* line 15, ../sass/elements/_forms.scss */
form table tr label {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
}
/* line 20, ../sass/elements/_forms.scss */
form table tr input[type="text"], form table tr input[type="number"] {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 5px;
  padding-left: 4px;
  max-width: 105px;
  color: #fff;
}
/* line 27, ../sass/elements/_forms.scss */
form table tr input[type="text"]:focus, form table tr input[type="number"]:focus {
  -webkit-background-color: #1a1a1a;
  -moz-background-color: #1a1a1a;
  -ms-background-color: #1a1a1a;
  background-color: #1a1a1a;
  color: #fff !important;
}
/* line 31, ../sass/elements/_forms.scss */
form table tr select {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 5px;
  padding-left: 4px;
  max-width: 124px;
}
/* line 41, ../sass/elements/_forms.scss */
form button[type=submit] {
  padding: 7px;
  padding-right: 13px;
  padding-left: 13px;
}
/* line 45, ../sass/elements/_forms.scss */
form button {
  max-width: 256px;
  -webkit-box-shadow: 3px 3px 0px #1a1a1a;
  -moz-box-shadow: 3px 3px 0px #1a1a1a;
  -o-box-shadow: 3px 3px 0px #1a1a1a;
  -webkit-background-color: #fff;
  -moz-background-color: #fff;
  -ms-background-color: #fff;
  background-color: #fff;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  margin-top: 10px;
}
/* line 55, ../sass/elements/_forms.scss */
form button:visited {
  -webkit-background-color: #1a1a1a;
  -moz-background-color: #1a1a1a;
  -ms-background-color: #1a1a1a;
  background-color: #1a1a1a;
  color: #fff;
}
/* line 59, ../sass/elements/_forms.scss */
form button:active {
  -webkit-background-color: #1a1a1a;
  -moz-background-color: #1a1a1a;
  -ms-background-color: #1a1a1a;
  background-color: #1a1a1a;
  -webkit-box-shadow: 0px 0px 0px #1a1a1a;
  -moz-box-shadow: 0px 0px 0px #1a1a1a;
  -o-box-shadow: 0px 0px 0px #1a1a1a;
  color: #fff;
}
/* line 65, ../sass/elements/_forms.scss */
form .checkbox-wrapper {
  margin: 5px;
}
/* line 69, ../sass/elements/_forms.scss */
form .checkbox-wrapper input[type="checkbox"] {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 2, ../sass/elements/_nav.scss */
ul {
  -webkit-background-color: #1a1a1a;
  -moz-background-color: #1a1a1a;
  -ms-background-color: #1a1a1a;
  background-color: #1a1a1a;
  height: 85px;
}
/* line 10, ../sass/elements/_nav.scss */
ul li {
  -webkit-background-color: #FFFF00;
  -moz-background-color: #FFFF00;
  -ms-background-color: #FFFF00;
  background-color: #FFFF00;
  width: 100%;
  color: #1a1a1a;
}
/* line 19, ../sass/elements/_nav.scss */
ul li button {
  -webkit-background-color: #1a1a1a;
  -moz-background-color: #1a1a1a;
  -ms-background-color: #1a1a1a;
  background-color: #1a1a1a;
  cursor: pointer;
}
/* line 79, ../sass/modules/_utillity.scss */
ul li button:visited {
  -webkit-background-color: #fff;
  -moz-background-color: #fff;
  -ms-background-color: #fff;
  background-color: #fff;
  border-bottom: 5px solid #FFFF00;
  color: #1a1a1a;
}
/* line 84, ../sass/modules/_utillity.scss */
ul li button:active {
  -webkit-background-color: #fff;
  -moz-background-color: #fff;
  -ms-background-color: #fff;
  background-color: #fff;
  border-bottom: 5px solid #FFFF00;
  color: #1a1a1a;
}
/* line 29, ../sass/elements/_nav.scss */
ul li button .logo {
  width: 80%;
  margin: 0px;
  margin-top: 5px;
  min-width: 30px;
  max-width: 50px;
}

/* line 2, ../sass/main/_layout.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 6, ../sass/main/_layout.scss */
.wrapper {
  margin: 10px;
}

/* line 10, ../sass/main/_layout.scss */
body {
  margin: 0 0 100px;
  /* bottom = footer height */
}

/* line 14, ../sass/main/_layout.scss */
#discount {
  max-width: 260px;
}
/* line 16, ../sass/main/_layout.scss */
#discount p.callout {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
/* line 20, ../sass/main/_layout.scss */
#discount button {
  border: solid black 6px;
  -webkit-background-color: #FFFF00;
  -moz-background-color: #FFFF00;
  -ms-background-color: #FFFF00;
  background-color: #FFFF00;
  padding: 30px;
}

/* line 2, ../sass/main/_typography.scss */
header h1 {
  font-size: 2em !important;
  line-height: 1 !important;
  color: #1a1a1a !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

/* line 10, ../sass/main/_typography.scss */
li button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 0.7em !important;
  line-height: 1 !important;
  color: #fff !important;
}
/* line 13, ../sass/main/_typography.scss */
li button img {
  margin: 0;
}

/* line 20, ../sass/main/_typography.scss */
form h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em !important;
  line-height: 1 !important;
  color: #1a1a1a !important;
}
/* line 24, ../sass/main/_typography.scss */
form input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 0.9em !important;
  line-height: 1 !important;
  color: black !important;
}

/* line 30, ../sass/main/_typography.scss */
.callout {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em !important;
  line-height: 1.3 !important;
  color: #1a1a1a !important;
}

/* line 38, ../sass/main/_typography.scss */
footer div.wrapper {
  margin-top: 40px;
}
/* line 40, ../sass/main/_typography.scss */
footer div.wrapper h1 {
  font-size: 0.8em !important;
  line-height: 1 !important;
  color: #1a1a1a !important;
  font-family: 'Lora', serif;
}

/* line 1, ../sass/main/_header.scss */
header {
  -webkit-background-color: #FFFF00;
  -moz-background-color: #FFFF00;
  -ms-background-color: #FFFF00;
  background-color: #FFFF00;
  height: 65px;
}
/* line 5, ../sass/main/_header.scss */
header h1 {
  padding: 10px;
  padding-top: 15px;
  padding-right: 10px;
}
/* line 13, ../sass/main/_header.scss */
header .main-logo, header .logo {
  padding: 10px;
}

/* line 2, ../sass/main/_footer.scss */
footer {
  -webkit-background-color: #FFFF00;
  -moz-background-color: #FFFF00;
  -ms-background-color: #FFFF00;
  background-color: #FFFF00;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
