form{
  @extend %clear_fix;
  @extend %margin_center;
  @include padding_system(10);
  @include background_color($maincolor);
  @include width_maxNmin($mobile_width_MAX,$mobile_width_MIN);

    @include media_query(mobile){
      margin: 0 auto;
    }
  h1{
    @include margin_system(compass, $N_S:3, $E_W:8);
    margin-bottom: $h1_bottom_margin;
  }
  table{

    @include media_query(mobile){

    }
    td{
      @include margin_system(4);
      @include padding_system(4);
    }
    tr{
      @include margin_system(compass, $N_S:2, $E_W:5);
      @include padding_system(compass, $N_S:5, $E_W:5);
      label{
        @extend %left;
        @extend %hide;
        @include margin_system(compass, $N_S:3, $E_W:3);
      }
      input[type="text"],input[type="number"]{
        @extend %no_outline;
        @extend %bold_borders;
        @extend %border_box;
        @include margin_system(compass, $N_S:1, $E_W:5);
        @include padding_system(compass, $N_S:7, $E_W:7);
        @include width_maxNmin(180);
          width: 100%;
          color: $white;

          @include media_query(mobile){
            @include width_maxNmin(180);
          }

          &:focus{
            @include background_color($black);
            color: $white !important;
          }
      }select{
        @extend %bold_borders;
        @include margin_system(compass, $N_S:1, $E_W:5);
        @include padding_system(compass, $N_S:7, $E_W:7);

      }#passengers_selection,#economy_selection{
        @include margin_system(compass, $N_S:1, $E_W:5);
        @include padding_system(compass, $N_S:7, $E_W:7);
        @include width_maxNmin(180);
          width: 100%;

          @include media_query(mobile){
            @include width_maxNmin(180);
          }
      }
    }
  }

  button[type=submit]{
    @include padding_system(7,$left:13,$right:13);
  }

  button{
    @extend %right;
    @extend %bold_borders;
    @extend %no_outline;
    @include width_maxNmin(256);
    @include easy_dropShadow(3px,3px,0px,$black);
    @include background_color($white);
    @include padding_system(compass, $N_S:3, $E_W:8);
    @include margin_system(compass, $N_S:10, $E_W:5);

    &:visited{
      @include background_color($black);
        color: $white;
    }
    &:active{
      @include background_color($black);
      @include easy_dropShadow(0px,0px,0px,$black);
        color: $white;
    }
  }
  .checkbox_wrapper{
    @extend %left;
    @extend %inline;
    @include margin_system(compass, $N_S:5, $E_W:5);

    input[type="checkbox"]{
      @include margin_system(compass, $N_S:5, $E_W:10);
    }
  }
}

#passengers_selection{
    width:1000px;
}
