section[role="main"] {
  @extend %flex_center;
  @include margin_system(0);
  @include width_maxNmin(100%);
  @include background_img(city);

    @include media_query(modular,$tablet) {
         @include padding_system($left:30);
    }

    form {

        @include padding_system(8);
        @include margin_system(10,$top:20);
        @include background_color($maincolor);
        @include width_maxNmin(300);
        @include media_query(modular, $min_mobile, $tablet) {
             @include width_maxNmin(325);
            @include margin_system($N_S:20,$E_W:auto);
        }
        @include media_query(modular, $min_width:$tablet) {
             @include width_maxNmin(400);
            @include margin_system($left:20);
            float: left;
            transition: left 1s;
        }

        fieldset.centered {
            @extend %center;
        }

        fieldset.bottom {
            @include margin_system(10);
        }


        fieldset {
            .row {
                @include row;

                div,
                input[type="number"],
                input[type="text"],
                select {
                    @include col(1,2);
                }
            }

            .checkbox_wrapper {

                @include col(1,2);

              }

            legend {
                @extend %left;
                @include margin_system(10, $bottom:10);
            }

            tbody {
                @include padding_system($N_S:7, $E_W:7);
                @include margin_system(4);
            }

            input[type="number"]:after {

                  @include fontAwesome_icon("\f0a9");
            }

            input { font-family: 'FontAwesome' YourFont; }

            input[type="number"],
            input[type="text"],
            select {
                @extend %no_outline;
                @extend %border_box;
                @include border_system(solid,$black,5);
                @include padding_system(8);
                @include margin_system(8);
                @include width_maxNmin(105);
                @include media_query(min-mobile) {
                     @include width_maxNmin(120);
                }
                @include media_query(mobile) {
                     @include width_maxNmin(145);
                }
                @include media_query(tablet) {
                     @include width_maxNmin(160);
                }
                @include media_query(desktop) {
                     @include width_maxNmin(160);
                }


              &:focus{
                @include background_color($black);
                transition: all 0.5s ease;
                color: $white !important;
              }
            }

            input[type="text"] {
              position: relative;
            }

            input[type="text"]:after {
              font-family: 'FontAwesome';
              color:$black;
              position: relative;
              content: "\f007";
            }



            input[type="checkbox"]{
              @include margin_system(3.5);
            }

            button {
                @extend %no_outline;
                @extend %right;
                @include col(1,2);
                @include border_system(solid,$black,5);
                @include width_maxNmin(80);
                @include easy_dropShadow(3px,3px,0px,$black);
                @include background_color($white);
                @include padding_system($N_S:5,$E_W:5);


                &:visited {
                    @include background_color($black);
                    color: $white;
                }

                &:active {
                    @include background_color($black);
                    @include easy_dropShadow(0px,0px,0px,$black);
                    color: $white;
                }
            }
        }
    }
}
