//nav
ul{
  @extend %no_margin;
  @extend %bye_bullets;
  @extend %flex;
  @extend %flex_center;
    @include media_query(min-mobile){
      width: 100%;
      justify-content: center;
    }
  @include margin_system($bottom:0);
    background-color: $black;
    height: $ul_height;



  li{
    @extend %center;
    @extend %flex;
    @extend %flex_center;
    @include margin_system(0);
    @include background_color($maincolor);
      color: $black;



    #active {
        color: black !important;
        @include flat_ui_buttons($white, 5px, $black, $auto_active:true);

    }


      //ui buttons at the top of the page
      button{
        @extend %full_width;
        @extend %clear_button_defaults;
        @include background_color($black);
        @include flat_ui_buttons($white, 5px, $black);

          p{
            @include margin_system($N_S:6);
          }

         button:target{
           @extend %full_width;
         }

        .logo{
          @include width_maxNmin(40,70%);
            @include media_query($min_mobile){@include width_maxNmin(50,70%);}
          @include margin_system($img_margin,$top:$img_margin_bottom);
      }
    }
  }

      li:first-child {
        @include media_query(tablet){
            @include margin_system($left:10);
      } @include media_query(huge){
          @include margin_system($left:10);
      }
    }
  }
