//imports for all mixins + global project variables
html {
  @include sticky-footer(html);
}

header {
  @include background-color($maincolor);
  @extend %no-margin;
    height: $header-height;

  h1 {
    @extend %text-right;
    @extend %no-margin;
      padding: $h1-header-padding;
      padding-top: $h1-header-top-padding;
      padding-right: $h1-header-right;
  }

  .logo {
    @extend %left;
      padding: $logo-header-padding;
  }

}

//nav
ul{
  @include bye-bullets;
  @include background-color($black);
  @extend %no-margin;
  @extend %flex-space-between;
  @extend %flex;
    height: $ul-height;

  li{
    @include background-color($maincolor);
    @extend %center;
    @extend %flex;
    @extend %flex-center;
      width: $li-width;

      button{
        @include clear-button-defaults;
        @include background-color($black);
        @include flat-ui-buttons;
        @extend %full_screen;

        .logo{
          width: $img-shrink;
          margin: $img-margin;
          min-width: $img-min-size;
          max-width: $img-max-size;
        }
      }
  }

}

body{
  @include sticky-footer(body);
}

//footer
footer {
  @include background-color($maincolor);
  @include sticky-footer(footer);
}
