//imports for all mixins + global project variables
html {
  @include sticky-footer(html);
}

header {
  @extend %no-margin;
  @include background-color($maincolor);
    height: $header-height;
  h1 {
    @extend %text-right;
    @extend %no-margin;
      padding: $h1-header-padding;
      padding-top: $h1-header-top-padding;
      padding-right: $h1-header-right;
  }

   .main-logo,.logo {
    @extend %left;
      padding: $logo-header-padding;
  }

}


.wrapper {
  @include easy-margins(10px,10px);
}


body{
  @include sticky-footer(body);
}


//footer
footer {
  @include background-color($maincolor);
  @include sticky-footer(footer);
}
