//place where all of my fonts and font familys get turned into simple varibles

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic);

$default-font: 'Lora', serif;

@mixin text($size, $l-height: 1, $color: black){

    font-size: $size + 0em !important;
    line-height: $l-height !important;
    color: $color !important;

}

@mixin font-family($name){

//Font pairings, fonts for body elements and headers

  @if $name == font_a {
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
  }

  @else if $name == font_a_Bold {
    font-family:'Open Sans', sans-serif;
    font-weight: 800;
  }

  @else if $name == font_a_slim {
    font-family:'Open Sans', sans-serif;
    font-weight: 100;
  }

  @else if $name == font_a_em {
    font-family:'Open Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  @else if $name == font_b {
    font-family:'Lora', serif;

  }

  @else if $name == font_b_italic {
    font-family:'Lora', serif;
  }
}
