//helpers and utilities or commonly called placeholder rules.


//my go-to to make sure my selectors are working
%no-display {
  display: none;
}
//hideing things but keeping them there for accessibility purposes
%hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
%inline {
  display: inline;
}
%block {
  display: block;
}
%inline_block {
  display: inline-block;
}


//positioning helpers good for quick adjusments on the fly
%center {
  text-align: center;
}
%text-left {
  text-align: left;
}
%text-right {
  text-align: right;
}
%margin-center {
  margin: 0 auto;
}
%no-margin {
  margin: 0;
}
%full_width {
  width: 100%;
}

//floats
%left {
  float: left;
}
%right {
  float: right;
}
%clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
%clear-left {
  clear: left;
}
%clear-right {
  clear: right;
}

//everything flex box
%flex {
  display: flex;
}
%flex-reverse {
  flex-direction: row-reverse;
}
%flex-stack {
  flex-direction: column; //works similar to display block
}
%flex-wrap {
  flex-wrap: wrap; //for responsive displays wraps to the next line
}
%flex-center {
  justify-content: center;
}
%flex-vertical-center{
  align-items: center;
}
%flex-space-between {
  justify-content: space-between;
}

//input field styleing
%bold-borders {
  border: solid $black 5px;
}
%no-outline {
  outline: 0;
}
%bye-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
%clear-button-defaults {
  border: none;
  outline: none;
}
