//helpers and utilities or commonly called placeholder rules.


%border_box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

//my go_to to make sure my selectors are working
%no_display {
  display: none;
}
//hideing things but keeping them there for accessibility purposes
%hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
%inline {
  display: inline;
}
%block {
  display: block;
}
%inline_block {
  display: inline-block;
}


//positioning helpers good for quick adjusments on the fly
%center {
  text-align: center;
}
%text_left {
  text-align: left;
}
%text_right {
  text-align: right;
}
%text_no_wrap {
  white-space: nowrap;
  overflow: hidden;
}
%margin_center {
  margin: 0 auto;
}
%no_margin {
  margin: 0;
}
%full_width {
  width: 100%;
}

//floats
%left {
  float: left;
}
%right {
  float: right;
}
%clear_fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
%clear_left {
  clear: left;
}
%clear_right {
  clear: right;
}

//everything flex box
%flex {
  display: flex;
}
%flex_flow {
  flex-flow: row wrap;
}
%flex_reverse {
  flex-direction: row-reverse;
}
%flex_stack {
  flex-direction: column; //works similar to display block
}
%flex_wrap {
  flex-wrap: wrap; //for responsive displays wraps to the next line
}
%flex_center {
  justify-content: center;
}
%flex_vertical_center{
  align-items: center;
}
%flex_space_between {
  justify-content: space-between;
}

//input field styleing
%bold_borders {
  border: solid $black 5px;
}
%no_outline {
  outline: 0;
}
%bye_bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
%clear_button_defaults {
  border: none;
  outline: none;
}
