//this mixin works to make sure the footer stays at the bottom of the page
//it effects the body, footer and html elements

@mixin sticky_footer($parent) {
    @if ($parent == body) {
      margin: 0 0 100px; /* bottom = footer height */
  } @else if ($parent == footer) {
      position: absolute;
      left: 0;
      bottom: 0;
      height: $footer-height;
      width: 100%;
  } @else if ($parent == html) {
      position: relative;
      min_height: 100%;
  }
}

//makes my buttons clear, in other words gets rid of default styleing of button
@mixin clear_button_defaults{
    border: none;
    outline: none;
}

@mixin margin_system($all_side, $top: null, $left: null, $bottom: null, $right: null, $N_S: null, $E_W: null) {

  @if $all_side == 'compass'{
      @if $N_S{
        margin-top: $N_S * $pixels;
        margin-bottom: $N_S * $pixels;
      } @if $E_W{
        margin-left: $E_W * $pixels;
        margin-right: $E_W * $pixels;
      }
    } @else {
      margin: $all_side * $pixels;

        @if $top {
        margin-top: $top * $pixels;
      } @if $right {
        margin-right: $right * $pixels;
      } @if $bottom {
        margin-bottom: $bottom * $pixels;
      } @if $left {
        margin-left: $left * $pixels;
      }
    }
  }

@mixin padding_system($all_side, $top: null, $left: null, $bottom: null, $right: null, $N_S: null, $E_W: null) {

  @if $all_side == 'compass'{
      @if $N_S{
        padding-top: $N_S * $pixels;
        padding-bottom: $N_S * $pixels;
      } @if $E_W{
        padding-left: $E_W * $pixels;
        padding-right: $E_W * $pixels;
      }
    } @else {
      padding: $all_side * $pixels;

        @if $top {
        padding-top: $top * $pixels;
      } @if $right {
        padding-right: $right * $pixels;
      } @if $bottom {
        padding-bottom: $bottom * $pixels;
      } @if $left {
        padding-left: $left * $pixels;
      }
    }
  }

@mixin easy_dropShadow($N,$W,$blur,$color) {

  -webkit-box-shadow: $N $W $blur $color;
  -moz-box-shadow: $N $W $blur $color;
  -o-box-shadow: $N $W $blur $color;
}
//styleing hrefs and buttons through out the site
@mixin flat_ui_buttons{
    cursor: pointer;
    &:visited {
      @include background_color($white);
      border-bottom: 5px solid $maincolor;
      color: $black;
    }
    &:active {
      @include background_color($white);
      border-bottom: 5px solid $maincolor;
      color: $black;
    }
}

@mixin width_maxNmin($max,$min:null){

    @if is_percentage($max){
      max-width: $max;
      min-width: $min;
    } @else {
        max-width: $max * $pixels;
      @if $min {
        min-width: $min * $pixels;
      } @else if $min == null {
        $min: $max;
      }
    }
  }

@mixin border_system($style,$color,$width) {
  border: $style $color $width * $pixels;
}

@mixin media_query($screen_type, $mobile:480px, $tablet:768px,$desktop:1024px) {

  @if $screen_type == "mobile" {
    @media (min-width: #{$mobile}) {
      @content;
      }
    }
    @if $screen_type == "tablet" {
      @media (min-width: #{$tablet}) and (max-width: #{$desktop - $pixels}) {
        @content;
        }
      }
      @if $screen_type == "desktop" {
        @media (min-width: #{$desktop}) {
          @content;
          }
        } else {
          @debug "The varible screen-type equals #{$screen-type} when it should either equal mobile, tablet or desktop";
    }
}
