//colors to be used trough out rest of program, background colors, rollovers as well
$yellow: #FFFF00;
$green: #51B848;
$red: #DD2222;
$blue: #426FB6;
$black: #000;

$maincolor: $yellow;

@mixin background-color($maincolor) {
  -webkit-background-color: $maincolor ;
  -moz-background-color: $maincolor ;
  -ms-background-color: $maincolor ;
   background-color: $maincolor ;
}
