//header
$header-height: 65px;
$h1-header-padding: 10px;
$h1-header-top-padding: 15px;
$h1-header-right: 10px;
$logo-header-padding: 10px;

//nav
$ul-height: 120px;
$li-width: 100%;

//footer
$footer-height: 100px;
