//header
$header-height: 65px;
$h1-header-padding: 10px;
$h1-header-top-padding: 15px;
$h1-header-right: 10px;
$logo-header-padding: 10px;

//nav
$ul-height: 85px;
$li-width: 100%;

//footer
$footer-height: 100px;
$wrapper-top-margin: 40px;

//img
$img-shrink: 80%;
$img-margin: 0px;
$img-margin-bottom: 5px;
$img-min-size: 30px;
$img-max-size: 50px;

//form
$form-margin: 15px;
$input-margin: 5px;

$input-width-max: 115px;
$input-width-min: 115px;

$select-width-max: 132px;
$select-width-min: 132px;
$input-height: 400px;
