//helpers and utilities or commonly called placeholder rules.


//my go-to to make sure my selectors are working
%no-display {
  display: none;
}
%inline {
  display: inline;
}
%block {
  display: block;
}
%inline_block {
  display: block;
}

//positioning helpers good for quik adjusments on the fly
%text-center {
  text-align: center;
}
%margin-center {
  margin: 0 auto;
}
%no-margin {
  margin: 0;
}
%text-left {
  text-align: left;
}
%text-right {
  text-align: right;
}

//floats
%left {
  float: left;
}
%right {
  float: right;
}
%clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//everything flex box
%flex {
  display: flex;
}



//asset pathing
$img-path: "../img";
$css-path: "../css";
$js-path: "../js";
