//this mixin works to make sure the footer stays at the bottom of the page
//it effects the body, footer and html elements
@mixin sticky-footer($parent) {
    @if ($parent == body) {
      margin: 0 0 100px; /* bottom = footer height */
  } @else if ($parent == footer) {
      position: absolute;
      left: 0;
      bottom: 0;
      height: $footer-height;
      width: 100%;
  } @else if ($parent == html) {
      position: relative;
      min-height: 100%;
  }
}
//for ul tags, makes it perform how i like, wit out bullets
@mixin bye-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
//makes my buttons clear, in other words gets rid of default styleing of button
@mixin clear-button-defaults{
    border: none;
    outline: none;
}

@mixin easy-margins($N-S, $E-W) {
  margin-top: $N-S;
  margin-right: $E-W;
  margin-bottom: $N-S;
  margin-left: $E-W;
}
@mixin easy-padding($N-S, $E-W) {
  padding-top: $N-S;
  padding-right: $E-W;
  padding-bottom: $N-S;
  padding-left: $E-W;
}
