form{
  @extend %clear-fix;
  @extend %margin-center;
  @include easy-padding(8px,5px);
  @include background-color($maincolor);
  h1{
    @include easy-margins(3px,8px);
    margin-bottom: $h1-bottom-margin;
  }
  table{

    tr{
      @include easy-margins(0px,0px);
      label{
        @extend %left;
        @extend %hide;
        @include easy-margins(3px,3px);
      }
      input[type="text"],input[type="number"]{
        @extend %no-outline;
        @extend %bold-borders;
        @include easy-margins(3px,3px);
        @include easy-padding(5px,4px);
          color: $white;
          max-width: $input-width-max;
          min-width: $input-width-min;
          &:active{
            @include background-color($black);
            color: $white;
          }
      }select{
        @extend %bold-borders;
        @include easy-margins(3px,3px);
        @include easy-padding(5px,4px);
          max-width: $select-width-max;
          min-width: $select-width-min;
      }
    }
  }
  button{
    @extend %right;
    @extend %bold-borders;
    @extend %no-outline;
    @include easy-dropShadow(3px,3px,0px,$black);
    @include background-color($white);
    @include easy-padding(3px,8px);
    @include easy-margins(3px,3px);
      margin-top: $button-top-margin;
    &:visited{
      @include background-color($black);
        color: $white;
    }
    &:active{
      @include background-color($black);
      @include easy-dropShadow(0px,0px,0px,$black);
        color: $white;
    }
  }
  .checkbox-wrapper{
    @extend %clear-fix;
    @extend %left;
    input[type="checkbox"]{
      @include easy-margins(5px,10px);
    }
  }

}
