//styleing hrefs and buttons through out the site
@mixin flat-ui-buttons{
    cursor: pointer;
    &:visited {
      @include background-color($white);
      border-bottom: 5px solid $maincolor;
      color: $black;
    }
    &:active {
      @include background-color($white);
      border-bottom: 5px solid $maincolor;
      color: $black;
    }
}

@mixin placeholder_color($color){
  ::-webkit-input-placeholder {
   color: $color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color;
}

:-ms-input-placeholder {
   color: $color;
}
}
