//styleing hrefs and buttons through out the site
@mixin flat-ui-buttons{
    cursor: pointer;
    &:visited {
      @include background-color($white);
      border-bottom: 5px solid $maincolor;
      color: $black;
    }
    &:active {
      @include background-color($white);
      border-bottom: 5px solid $maincolor;
      color: $black;
    }
}
